html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    background-image: url("../assets/images/fondo_pag_inicio.jpg");
    background-size: cover;
    /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen */
    font-family: sans-serif;
    margin: 0;
}

.grid-container-2 {
    /* margin-top: 100px; si se requiere separación en la parte superior*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    max-height: 450px; /* o height: 500px; para altura fija */
    overflow: auto;

}

.nav-link {
    margin-left: 80px;
    text-decoration: none;
    color: white;
}

.menu-nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
}

header {
    display: flex;
    height: 70px;
    background-color: #464e46;
    justify-content: right;
    align-items: center;
    color: white;
}



.grid-container {
    /* margin-top: 100px; si se requiere separación en la parte superior*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    max-height: 450px; /* o height: 500px; para altura fija */
    overflow: auto;

}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

.grid-item-2 {
    background-color: white;
    border: 1px solid black;
    text-align: left;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.contenido-horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem; /* Espacio entre descripción y logo */
}

#rotulo-container input {
    width: 140px;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#descripcion-container input {
    padding-top: 30px;
    margin-left: 20px;
    width: 240px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    /* Ajusta el tamaño según se requiera*/
    font-weight: bold;
    /* Opcional, para hacerlo más visible */
    border: none;
}

#descripcion-container {
    margin-top: 20px;
    font-size: 24px;

}

#logo-autoexpress-2 {
     flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#descripcion-container-2 {
    flex: 2;
}

#logo-autoexpress img {
    max-width: 100%;
    height: auto;
}


.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    box-sizing: border-box;
}

.arriba {
    display: flex;
    align-items: center;
    justify-content: center;
}


.abajo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-reception {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Hace que la imagen cubra todo el espacio sin deformarse */
    display: block;
}

#vehiculo-contenido {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* Elementos en fila 
    align-items: flex-start;*/
    /* Alinea arriba */
    gap: 5px;
}

#logo-autoexpress img {
    padding-top: 110px;
    padding-bottom: 0;
    width: 550px;
    /* Ajusta el tamaño según lo que necesites */
    height: auto;
    /* Mantiene la proporción */
    display: block;
    margin: 0 auto;
    /* Centra la imagen horizontalmente */
}

.vehiculo-descripcion {
    background-color: #f5f5f5;
    padding: 0px 0;
    margin-right: auto;
    margin-left: 20px;
    font-size: 14px;
    color: #333;
    max-width: 300px;
    /* Puedes ajustar el ancho */
    box-sizing: border-box;
}

.vehiculo-foto {
    width: 243;
    /* o el tamaño que prefieras */
    height: 143;
    border-radius: 4px;
}


.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #464e46;
    color: white;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    
}

.footer-col a {
    color: #fff;
    text-decoration: underline;
    margin: 0 5px;
}